`<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MeetHome</title>
    <script src="https://accounts.google.com/gsi/client" async defer></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
   *{
     padding: 0;
     margin: 0;
     box-sizing: border-box;
     font-family: 'Poppins', sans-serif;
   }
        body{
            background-color: #fff;
        }
        
        

    .logo{
    color: blue;
    }
    .sign{
    /* display: inline-block; */
    padding-top:150px;
    max-width: 300px;
    }

    .nav {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    }
    .bt{
    margin-right:10px;
    margin-top:10px;
    }
    .custom-search {
    position: relative;
    max-width: 300px;
    }
    .custom-search-input {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 100px;
    padding: 10px 100px 10px 20px; 
    line-height: 1;
    box-sizing: border-box;
    outline: none;
    }
    .custom-search-botton {
    position: absolute;
    right: 3px; 
    top: 3px;
    bottom: 3px;
    border: 0;
    color: #fff;
    outline: none;
    margin: 0;
    padding: 0 10px;
    border-radius:20px 100px 100px 20px ;
    z-index: 2;
    }
    #text{
    padding-left:50px;
    margin-top: 100px;
    float:left;

    }
    .img{
        width: 100%;
        height:auto;
        margin:200px 0 0 200px ;
        max-width: 600px;
        display: grid;
    }
    .button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: blue;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    }

    .button:hover {background-color: blue}

    .button:active {
    background-color: blue;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    }
    .hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: .5;
    }
    .hr-text::before {
    content: '';
    background: linear-gradient(to right, transparent, #818078, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
  }
  .hr-text:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: black;

    padding: 0 .5em;
    line-height: 1.5em;
    
    color: #818078;
    background-color: #fcfcfa;
  }

  .dropdown-item:hover{
    background-color: transparent;
  }
  .dropdown-menu{
    background-color: #fcfcfa;
  }
  .videoContainer {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 500px;
    border-radius: 5px;
    background-attachment: scroll;
    overflow: hidden;
}
.videoContainer video {
    min-width: 100%;
    min-height: 100%;
    max-width: 500px;
    position: relative;
    z-index: 1;
} 
.videoContainer .overlay {
    height: 100%;
    width: 100%;
    max-width: 480px;
    min-width: 0;
    position: absolute;
    top: 0px;
    bottom: 0;
    z-index: 2;
    opacity: 0.5;
    background-color: transparent;
}
.overlay .bottom{
    position: absolute;
    top:85%;
    bottom: 0;
    width: 100%;
    max-width: 500px;
    overflow: hidden;
    height: 100%;
    background: linear-gradient(to bottom, rgba(5, 6, 2, 0.52), rgba(7, 1, 3, 0.73));
    overflow: hidden;
}

    </style>
</head>
<body>

    


    <header>
    <div class="bg-light pr-4 pl-4 nav d-flex align-items-center justify-content-between" style="margin-top:-20px">
        <h2 class="text-primary font-weight-bold" >MeetHome</h2>
    
        <div class="login-topbar d-flex justify-content-center align-items-center">
            
        <% if (loggedin) { %>
            <div class="signedin">
                <div class="dropdown">
                    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <img style="max-width: 25px;" class="border rounded-circle" src="<%= picture %>" alt="">
                        <%= name %>
                    </button>
                    <div class="dropdown-menu bg-danger" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item text-white" href="/logout">Logout</a>
                    </div>
                </div>
            </div>
        <% }else{ %>
            <div class="signin-div">
                <a class="btn text-primary" href="signin">Sign in</a>
            </div>
            <div class="login-with-google-div">
                <div id="g_id_onload"
                    data-client_id="985697523517-dkp2f6qrf6bo51mi8416mj3e41jcvpm9.apps.googleusercontent.com"
                    data-login_uri="google_auth"
                    data-auto_prompt="false">
                </div>
                <div class="g_id_signin"
                    data-type="standard"
                    data-size="medium"
                    data-theme="outline"
                    data-text="sign_in_with"
                    data-shape="rectangular"
                    data-logo_alignment="left">
                </div>
            </div>
        <% } %> 
        </div>
    </div> 

    </header>
    <div class="main">
        <div class="d-flex flex-column justify-content-center align-items-center my-5 ">
            <div class="videoContainer" style="margin-inline:auto ;">
                <div class="cam bg-dark border rounded" style="width:90vw;max-width:480px;aspect-ratio: 4/3;">
                    <video id="localVideo" style="width:90vw;max-width:480px;aspect-ratio: 4/3;"></video>
                </div>
                <div class="overlay">
                    <div class="bottom">
                        <div class="d-flex justify-content-center align-items-center">
                            <button id="muteButton" class="btn mr-2" style="background:white;width: 50px; height: 50px; border-radius: 50%;"><i class="fas fa-microphone"></i></button>
                            <button id="videoButton" class="btn mr-2" style="background:white;width: 50px; height: 50px; border-radius: 50%;"><i class="fas fa-video"></i></button>
                        </div>  
                    </div>
                </div>
            </div>
            <div class="others my-5 d-flex flex-column justify-content-center align-items-center text-dark w-100" style="width: 100%;max-width:500px;">
                    <h3 class="text-dark">Start Meeting ?</h3>
                    <div class="buttons my-5 d-flex justify-content-between" style="width: 100%">
                        <button class="btn rounded-pill bg-light border border-dark" id="share"><i class="fa-solid fa-copy"></i> <%= roomid %> </button>
                        <button class="btn btn-primary rounded-pill" id="start">Start meeting</button>
                    </div>
                    <div class="row">
                        
                        <div class="social-share col-12">
                            <div class="col-12">
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" id="sharelink" value="https://meethome.herokuapp.com/<%= roomid %>" aria-label="Recipient's username" aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" type="button" onclick="copylink()" id="copy">Copy</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="social-media col-12">
                            <div class="col-12">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">Share on</span>
                                    </div>
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" onclick="shareFB()" id="facebook"><i class="fab fa-facebook"></i></button>
                                        <button class="btn btn-outline-secondary" onclick="shareTW()" type="button" id="twitter"><i class="fab fa-twitter"></i></button>
                                        <button class="btn btn-outline-secondary" onclick="shareLI()" type="button" id="linkedin"><i class="fab fa-linkedin"></i></button>
                                        <button class="btn btn-outline-secondary" onclick="shareWA()" type="button" id="whatsapp"><i class="fab fa-whatsapp"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

            </div>
        </div>
    </div>

        <form action="/<%= roomid  %> " method="post">
            <input type="hidden" id="cam" name="cam" value="true">
            <input type="hidden" id="mic" name="mic" value="false">
        </form>


    <script>
        const localVideo = document.getElementById('localVideo');
        const start = document.getElementById('start');
        const share = document.getElementById('share');
        const muteButton = document.getElementById('muteButton');
        const videoButton = document.getElementById('videoButton');

        const copylink = ()=>{
            const sharelink = document.getElementById('sharelink');
            sharelink.select();
            sharelink.setSelectionRange(0, 99999);
            document.execCommand("copy");
            const copy = document.getElementById('copy');
            copy.innerHTML = "Copied";
        }

        const shareFB = () => {
            let url = document.getElementById('sharelink').value;
            window.open(`https://www.facebook.com/sharer/sharer.php?u=${url}`, '_blank');
        }
        const shareTW = () => {
            let url = document.getElementById('sharelink').value;
            window.open(`https://twitter.com/intent/tweet?url=${url}`, '_blank');
        }
        const shareLI = () => {
            let url = document.getElementById('sharelink').value;
            window.open(`https://www.linkedin.com/shareArticle?mini=true&url=${url}`, '_blank');
        }
        const shareWA = () => {
            let url = document.getElementById('sharelink').value;
            window.open(`https://api.whatsapp.com/send?text=${url}`, '_blank');
        }

        


        
        let localStream;
        let room;
        let camera = false;
        let mic = false;

        navigator.mediaDevices.getUserMedia({
            audio: true,
            video: true
        }).then(stream => {
            localStream = stream;
            localVideo.srcObject = stream;
            localVideo.muted = false;
            localVideo.play();
        }).catch(err => {
            console.log(err);
        });

        videoButton.addEventListener('click', () => {
            camera = !camera;
            localStream.getVideoTracks()[0].enabled = camera;
            if (camera) {
                videoButton.innerHTML = '<i class="fas fa-video"></i>';
            } else {
                videoButton.innerHTML = '<i class="fas fa-video-slash"></i>';
            }
        });

        muteButton.addEventListener('click', () => {
            mic = !mic;
            localStream.getAudioTracks()[0].enabled = mic;
            if (mic) {
                muteButton.innerHTML = '<i class="fas fa-microphone"></i>';
            } else {
                muteButton.innerHTML = '<i class="fas fa-microphone-slash"></i>';
            }
        });

        start.addEventListener('click', async () => {
            const form = document.querySelector('form');
            document.querySelector('#cam').value = camera.toString();
            document.querySelector('#mic').value = mic.toString();
            form.submit();
        
        });
        



    </script>

    
</body>
</html>

